{% extends 'layouts/application.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="container" style="max-width: 400px;">
      <form action="/signup" method="POST">
        <h2>Sign Up</h2>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control" placeholder="Email address" value="{{form.email}}" autofocus>
        </div>
        <div class="form-group">
        <label for="user_password">Password</label>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <p>Already registered? <a href="/">Sign In.</a></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
      </form>
      <hr>
    </div>
{% endblock %}
