{% extends '../layouts/dashboard.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
  <div class="container-fluid container-max">
    {% include "../partials/flash.html" %}
    <div class="page-header">
      <h1>Home Page</h1>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><h3>Current Subscription</h3></div>
      <div class="panel-body">
        <ul>
        {% if user.stripe.plan == 'free' %}
          <li><h4>Free Plan</h4></li>
          <p>Thanks for subscribing to the Free plan! Enjoy this free content!</p>
        {% endif %}
        {% if user.stripe.plan == 'premium' %}
          <li><h4>Premium Plan</h4></li>
          <p>Thanks for subscribing to the Premium plan! Enjoy this free content!</p>
        {% endif %}
        {% if user.stripe.plan == 'developer' %}
          <h4>Developer Plan</h4>
          <p>Thanks for subscribing to the Developer plan! Enjoy this free content!</p>
        {% endif %}
        {% if user.stripe.plan == 'business' %}
          <h4>Business Plan</h4>
          <p>Thanks for subscribing to the Business plan! Enjoy this free content!</p>
        {% endif %}
        </ul>
      </div>
    </div>
    
    <p>To change plan click <a href="/billing">here</a>.</p>

  </div>
</div>
{% endblock %}
